.cardId {
  position: relative;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline block;
}
.cardId:hover {
  text-overflow: clip;
  white-space: normal;
  word-break: break-all;
}
